.message {
    margin-bottom: 10px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message_text{
    max-width: 400px;
    word-wrap: break-word;
}
@media(max-width: 500px) {
    .message_text{
        max-width: 300px;
    }
}


@media(max-width: 420px) {
    .message_text{
        max-width: 280px;
    }
}
@media(max-width: 400px) {
    .message_text{
        max-width: 250px;
    }
}
@media(max-width: 350px) {
    .message_text{
        max-width: 200px;
    }
}